@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.flex {
  display: flex;
}

.sb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.button_orange {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  border: none;
  color: #fff;
}

.button {
  border-color: #FF3F3A;
  border-radius: 4px;
  background-color: transparent;
  color: #FF3F3A;
}

.blue {
  background: rgba(90, 135, 252, 1);
}

.green {
  background: rgba(3, 206, 164, 1);
}

.orange {
  background: rgba(248, 152, 40, 1);
}

.red {
  background: rgba(245, 47, 110, 1);

}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.main-block-background {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 131.63px;
}

.header__logo {
  width: 130px;
  height: 22px;
  margin-right: 60px;
}

.wrapper {
  width: 1230px;
  margin: 0 auto;
}

.header__navigation {
  margin-right: 222px;
}

.header__navigation>ul {
  display: flex;
  list-style: none;
  padding: 0;

  li:hover {
    color: rgba(255, 63, 58, 1);
    cursor: pointer;
  }
}

.header__navigation>ul>li:not(:last-child) {
  margin-right: 40px;

}

.header__get-consult-button {
  width: 207px;
  height: 52px;
  margin-right: 37.67px;
}

.main-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 180px;
}


.main-info__play-image {
  display: flex;
  align-items: center;
  width: 184px;
}

.main-info__main-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  width: 496px;
}

.main-info__main-buttons button:first-child {
  width: 148px;
  height: 52px;
  margin-right: 24px;
}

.main-info__main-buttons button:last-child {
  width: 201px;
  height: 52px;
}

.main-info__statistic {
  margin-top: 189px;
  display: flex;
  width: 100%;
  justify-content: space-between;


}

.main-info__item {
  position: relative;
  display: flex;
  align-items: center;

  span {
    font-weight: 900;
    font-size: 46px;
    margin-right: 12px;
  }
}

.main-info__item:not(:last-child)::after {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #FF3F3A;
  border-radius: 50%;
  right: -25%;
  top: 42%;
}



.about {
  display: flex;
  margin-bottom: 180px;
}

.about__image {
  margin-right: 135px;
}

.subtitle {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  font-weight: 900;
  font-size: 46px;
  line-height: 59.8px;
}

.about__list {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(66, 69, 81, 1);
  list-style-image: url('./svgviewer-output.svg');
  margin-bottom: 48px;

  li {
    margin-bottom: 12px;
  }
}

.about__button {
  width: 161px;
  height: 44px;
}




.featured {
  margin-bottom: 180px;


  &__title {
    width: 400px;
    line-height: 0;
  }

  &__button {
    width: 203px;
    height: 52px;
    font-size: 14px;
    line-height: 44px;
  }

  &__course {
    width: 600px;
    border: 1px solid rgba(229, 232, 237, 1);
    border-radius: 4px;
    display: flex;
    margin-bottom: 30px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.2);
  }

  &__img {
    margin-right: 32px;
  }

  &__course-title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}



.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-content {
  margin-top: 32px;
}

.spec {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 2px 8px;
}


.price-and-teacher {
  font-weight: 400;
  font-size: 18px;
  color: rgba(120, 122, 128, 1);


  span {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 66, 66, 1);
  }
}


.benefits {
  margin-bottom: 140px;
}

.benefits__subtitle,
.benefits__title {
  text-align: center;
}

.benefits__title {
  margin-bottom: 70px;
}

.benefits__button {
  background-color: transparent;
  border: none;
  color: #9A9CA5;
  padding: 0;
  padding: 10px 71px;

  svg {
    path {
      fill: #9A9CA5;
    }
  }
}

.benefits__list {
  display: flex;
  margin-bottom: 90px;
}

.benefits__button_active:hover {
  border: 1px solid #FF3F3A;
  color: #FF3F3A;

  svg {
    path {
      fill: #FF3F3A;
    }
  }
}

.benefits__info {
  display: flex;
  flex-wrap: wrap;
}

.benefits__description {
  width: 495px;
  margin-right: 135px;

  h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0em;
  }

  p {
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #424551;
  }
}


.events {
  max-width: 100%;
  background-color: #fedcd2;
  padding-top: 80px;
  padding-bottom: 85px;

  &__subtitle,
  &__title {
    text-align: center;
  }

  &__title {
    margin-bottom: 60px;
  }
}

.event {
  max-width: 1230px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  margin-bottom: 24px;

  &:hover {
    box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
  }

  &__date {
    display: flex;

    .date-number {
      font-weight: 900;
      font-size: 48px;
      color: #FF3F3A;
      line-height: 62.4px;
      margin-right: 20px;
    }

    .date-month {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 42px;
    }
  }

  &__name p:first-child {
    font-size: 20px;
    color: #1E212C;
  }

  &__name p:last-child {
    font-weight: 400;
    color: #787A80;
  }

  &__button {
    width: 136px;
    height: 44px;
    border-radius: 4px;

    &_active:hover {
      background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
      color: #fff;
      border: none;
    }
  }
}

.show-all-events {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  &__more {
    font-weight: 700;
    font-size: 28px;
    border: none;
    background-color: transparent;
    margin-right: 40px;
  }

  &__explore {
    color: #fff;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    width: 215px;
    height: 52px;
    border: none;
  }
}


.certificate {
  display: flex;
  margin-top: 120px;
  max-height: 350px;

  &__content {

    width: 392px;

    &__subtitle {
      font-weight: 700;
      font-size: 16px;
      color: #1E212C;
      text-transform: uppercase;
    }

    &__title {
      font-weight: 900;
      font-size: 46px;
      color: #1E212C;
    }
  }

  &__logos {
    display: flex;
    justify-content: space-around;
  }

  &__image {
    position: relative;
    margin-top: 40px;
  }
}



.meet-our-team {
  background-color: #F4F5F7;
  margin-bottom: 120px;

  &__subtitle {
    line-height: 0px;
    padding-top: 166px;
  }

  &__title {
    line-height: 0px;
  }

  &__toLeftArrow {
    padding: 20px;
    cursor: pointer;

    &:hover {
      background-color: #FF3F3A;
      border-radius: 50%;

      path {
        fill: #fff;
      }
    }
  }

  &__toRightArrow {
    cursor: pointer;
    padding: 20px;
    transform: rotate(180deg);

    &:hover {
      background-color: #FF3F3A;
      border-radius: 50%;

      path {
        fill: #fff;
      }
    }
  }

  .slider {
    overflow: hidden;
    width: 1252px;
  }

  .slider-line {
    width: 1860px;
    display: flex;
    position: relative;
    right: 315px;
  }

  .slide {

    &:not(:last-child) {
      margin-right: 30px;
    }

    min-width: 285px;

    &__img {
      display: flex;
      justify-content: center;
      background-color: #FFCF2D;

      &:hover {
        background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
        border-radius: 4px;
      }
    }

    &__info {
      text-align: center;
    }

    &__name {
      font-weight: 700;
      font-size: 20px;
      color: #424551;
    }

    &__job-title {
      font-weight: 400;
      font-size: 16px;
      color: #787A80;
    }
  }

}

.our-blog {

  &__button {
    width: 158px;
    height: 52px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    color: #fff;
    border: none;
  }

  &__posts {
    display: flex;
  }

  &__post {
    width: 390px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    aside {
      margin-top: 16px;
      font-weight: 700;
      font-size: 14px;
      color: #787A80;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    &-title {
      font-size: 20px;
      color: #1E212C;
    }

    &-description {
      font-weight: 400;
      font-size: 16px;
      color: #424551;
      margin-bottom: 16px;
    }

    &-more {
      text-decoration: none;
      margin-right: 11px;

      &:hover {
        transform: scale(0.5);
      }
    }
  }
}