.blog-page {
  &__subtitle,
  &__title {
    text-align: center;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__tabs {
    display: flex;
    gap: 15px;
  }

  &__search-wrapper {
    display: inline-block;
    position: relative;
  }
  &__filter {
    select {
      width: 160px;
      &:focus {
        color: rgba(66, 69, 81, 1);
        border-color: rgba(255, 63, 58, 0.4);
        outline: none;
        box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
          0px 12px 10px -6px rgba(255, 63, 58, 0.04),
          0px 30px 24px -10px rgba(255, 63, 58, 0.05),
          0px 80px 80px -20px rgba(255, 63, 58, 0.08);
      }
    }
    input {
      margin-left: 40px;
      padding: 13px 16px;
      border-radius: 4px;
      border: 1px solid rgba(215, 218, 221, 1);
      color: rgba(154, 156, 165, 1);
      font-size: 14px;
      font-weight: 400;
      width: 285px;
      box-sizing: border-box;

      &:focus {
        color: rgba(66, 69, 81, 1);
        border-color: rgba(255, 63, 58, 0.4);
        outline: none;
        box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
          0px 12px 10px -6px rgba(255, 63, 58, 0.04),
          0px 30px 24px -10px rgba(255, 63, 58, 0.05),
          0px 80px 80px -20px rgba(255, 63, 58, 0.08);
      }
      &:active {
        color: rgba(66, 69, 81, 1);
        border-color: rgba(255, 63, 58, 0.4);
        outline: none;
        box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
          0px 12px 10px -6px rgba(255, 63, 58, 0.04),
          0px 30px 24px -10px rgba(255, 63, 58, 0.05),
          0px 80px 80px -20px rgba(255, 63, 58, 0.08);
      }
    }
    .search-icon {
      position: absolute;
      background-image: url("./images/icons/input-icon.svg");
      background-size: cover;
      background-repeat: no-repeat;
      pointer-events: none;
      display: inline-block;
      width: 14.33px;
      height: 14.33px;
      right: 16.83px;
      top: calc(50% - 7.186px);
    }
  }
  a {
    color: rgba(215, 218, 221, 1);
    text-decoration: none;
    padding: 10px 20px;
    &:hover {
      border: 1px solid rgba(255, 63, 58, 1);
      color: rgba(255, 63, 58, 1);
      border-radius: 4px;
      cursor: pointer;
    }
    &:nth-child(2) {
      display: flex;
      &::before {
        align-items: center;
        content: url("./images/icons/articles.svg");
        display: inline-block;
        width: 11.33px;
        height: 14.33px;
        padding-right: 8px;
      }
    }
    &:nth-child(3) {
      display: flex;
      &::before {
        align-items: center;
        content: url("./images/icons/videos.svg");
        display: inline-block;
        width: 14.67px;
        height: 14.67px;
        padding-right: 8px;
      }
    }
    &:nth-child(4) {
      display: flex;
      &::before {
        align-items: center;
        content: url("./images/icons/podcasts.svg");
        display: inline-block;
        width: 12px;
        height: 15.2px;
        padding-right: 8px;
      }
    }
  }
}
.wide {
  width: 705px; /* Ширина блока */
}
.narrow {
  width: 495px; /* Ширина блока */
}
.blog-container {
  padding-top: 58px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  box-sizing: border-box;
}
.blog-post {
  width: 390px;

  &:nth-child(4) {
    width: 705px;
  }
  &:nth-child(5) {
    width: 495px;
  }
}
.blog-post h2 {
  margin-top: 0;
}
.blog-post p {
  color: #555;
}
.blog-post a {
  color: #007bff;
  text-decoration: none;
}
.blog-post a:hover {
  text-decoration: underline;
}
.blog-category {
  font-size: 14px;
  color: #888;
}
.blog-date {
  font-size: 12px;
  color: #888;
}
